.language {
  display: inline-flex;
  align-items: center;

  &__current {
    color: $navy-800;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__list {
    list-style-type: none;

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: rgba(39, 36, 69, 0.5);
    }
  }
}
