<div class="about-us-biometric">
    <div class="container about-us-biometric__grid">

        <div class="mb-24 d-lg-none">
            {% include 'shared/webp/webp.twig' with {
                image: acf.imageMobile,
            } %}
        </div>

        <div>
            <div class="mb-12 heading-xl">{{ acf.heading }}</div>
            <div class="wysiwyg">{{ acf.description }}</div>
        </div>

        <div class="d-none d-lg-block">
            {% include 'shared/webp/webp.twig' with {
                image: acf.imageDesktop,
            } %}
        </div>

    </div>
</div>
