.customer-zone-map {
  text-align: center;
  padding-bottom: 4rem;

  &__image {
    width: 100%;
    max-width: 40.875rem;
    transition: transform ease-in-out .333s;

    &:hover {
      transform: scale(1.05);
    }
  }

  @include breakpoint-lg {
    picture {
      margin-bottom: 2rem;
    }
  }
}
