.d-block {
  display: block;
}

.d-none {
  display: none;
}

$display: (sm: $col-sm, md: $col-md, lg: $col-lg, xl: $col-xl, xxl: $col-xxl);

@each $key, $value in $display {
  .d-#{$key}-block {
    @media only screen and (min-width: #{$value}) {
      display: block;
    }
  }

  .d-#{$key}-none {
    @media only screen and (min-width: #{$value}) {
      display: none;
    }
  }
}
