.customer-zone-video {
  $block: '.customer-zone-video';
  text-align: center;
  position: relative;
  padding-bottom: 3rem;
  overflow: hidden;

  &:before {
    position: absolute;
    top: 6rem;
    left: -2rem;
    width: calc(100% + 4rem);
    height: 100%;
    content: '';
    background-color: $green-100;
    z-index: -1;
  }

  &__video-image-wrapper {
    position: relative;
    margin-bottom: 2.125rem;
    cursor: pointer;
  }

  video {
    border-radius: 1.5rem;
  }

  @include breakpoint-lg {
    text-align: left;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;

    &:before {
      top: 0;
      left: 30%;
      border-radius: 1.5rem 0 0 1.5rem;
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr .7fr;
      grid-gap: 5rem;
      align-items: center;
    }

    &__video-image-wrapper {
      margin-bottom: 0;
    }
  }
}
