.overflow-hidden {
    overflow: hidden;
}

.nav-item-big6 {

    @include breakpoint-lg{
        background: linear-gradient(90deg, #51AAB1 0%, #1F335E 100%);
        padding: 0 0.75rem;
        border-radius: 20px;

        .navigation-menu__link  {
            display: flex;
            justify-content: center;
            padding: 0.25rem 1.5rem;
            color: white;
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 1.75rem;
        }
    }
}