$color-primary--light: rgba(39, 36, 69, 0.75);
$color-primary: #272445;
$color-primary--dark: #1E1C36;

$color-secondary--light: #3AC0AB;
$color-secondary: #00AD93;
$color-secondary--dark: #009881;

$color-grey-light: #F2F4F5;
$color-grey: #E3E8E9;

$grey-100: #F2F4F5; //figma
$grey-200: #ECECEC; //figma
$grey-300: #D0D0D0; //figma

$navy-100: rgba(39, 36, 69, 0.50); // bartek

$navy-600: #68667D; //figma
$navy-800: #272445; //figma

$green-100: #E6F7F4; // figma
$green-400: #00AD93; // figma
$green-500: #08907C; // figma

$blue-100: rgba(0, 160, 255, 0.1); //figma

$gradient-green: linear-gradient(77.01deg, #07BCA1 11.79%, #178675 91.47%);

$yellow-400: #FFBD00; // figma
$yellow-100: #FFF8E6; // figma

$background-secondary--light: rgba(0, 173, 147, 0.05);

$color-white-020: rgba(255, 255, 255, 0.2);
$color-white: #fff;
$color-red: #ff0000;
$color-black: #000000;

$btn-radius: 20rem;
$btn-radius-small: .4rem;

$border-color: #ECECEC;

$background-selected-grey: rgba(39,36,69,.07);

