.wysiwyg {
  p:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: none;
    color: $green-400;
  }

  strong {
    color: $navy-800;
  }

  h4 {
    @extend .heading-md;
    margin-bottom: 1rem;
  }
}
