<form class="password-form" action="{{ action }}" method="post">
    <div class="container">
        <div class="password-form__wrapper">
            <header class="password-form__header heading">
                <h2>Proszę podaj <span>hasło</span>, aby uzyskać dostęp do filmów instruktażowych</h2>

                <div class="password-form__header-separator"></div>
            </header>
            <input class="password-form__input" name="post_password" id="pwbox-{{ id }}" type="password" placeholder="Hasło" size="20" maxlength="20" />
            <input class="password-form__submit button-solid " type="submit" name="Submit" value="Zaloguj" />
        </div>
    </div>
</form>
