<a href="{{ store.frontPageUrl }}" class="navigation-logo">
    <img class="navigation-logo__logo" src="{{ asset('icon/logo-claim.svg') }}?ver={{ cacheVersion }}" alt="" width="148px" height="42px">
</a>
