<ul class="navigation-mobile-dropdown">
    {% for child in item.children %}
        <li>
            <a class="navigation-mobile-dropdown__link" href="{{ child.link }}" target="{{ child.target }}">{{ child.title }}</a>
        </li>
    {% endfor %}
</ul>
