<span class="input-search">
    {{ svg(asset('shared/search.svg'),'input-search__icon') }}
    <input class="input-search__input" type="text" name="{{ name }}" {{ attr }} placeholder="{{ placeholder }}">
</span>
