.input-search {
  position: relative;
  display: block;

  &__input {
    background: $color-white;
    border: 1px solid $grey-200;
    border-radius: .375rem;
    padding: .813rem 1rem .813rem 3rem;
    font-family: $font-family-point;
    color: $navy-600;
    width: 100%;
    font-size: 1rem;
    line-height: 1;

    &::placeholder {
      font-family: $font-family-point;
      color: $navy-800;
      opacity: .3;
      font-size: 1rem;
      line-height: 1;
    }
  }

  &__icon {
    display: flex;
    position: absolute;
    top: calc(50% - .75rem);
    left: 1rem;
    fill: $navy-600;
    width: 1rem;
    pointer-events: none;
  }
}
