<a class="link-border" href="{{ acf.btn.url ?? btn.url ?? url ?? '#' }}">
    <span class="link-border__driver"></span>
    <span class="link-border__content">
        <span>{{ acf.btn.title ?? btn.title ?? title ?? 'Example title' }}</span>
        <svg class="link-border__arrow" width="16" height="8" viewBox="0 0 16 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.01 3H0V5H12.01V8L16 4L12.01 0V3Z"/>
        </svg>
    </span>
</a>
