<div class="front-navigation">
    <div class="container front-navigation__body">
        {% include 'navigation/logo/navigation-logo.twig' %}

        <div class="front-navigation__language-wrapper">
            {% include 'shared/language/language.twig' %}
        </div>
    </div>
    {% include 'navigation/mobile/navigation-mobile.twig' %}
</div>
