<div class="download-app" data-js-download-app>
    <div class="container">
        <a class="download-app__link" href="#" data-js-href>
            {{ t.mobileDownloadApp|t }}
            <img class="download-app__badge" src="" alt="" data-js-image>
        </a>
    </div>
</div>
