<div class="course-modal" data-js-modal-course>
    <button class="course-modal__close"><img src="{{ asset('icon/close.svg') }}"></button>
    <div class="course-modal__relative">
        <div class="container">
            <div class="course-modal__wrapper">
                <div class="course-modal__wrapper-inner">
                    
                    <iframe class="course-modal__iframe" width="630" height="1120" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay></iframe>
                </div>
            </div>
        </div>
    </div>
</div>