{% if acf.isActive %}
    <div class="contact-data-company wow fadeIn">
        <div class="mb-16 heading-lg">{{ acf.header }}</div>
        <div class="contact-data-company__grid">
            <div>{{ acf.columnNr1 }}</div>
            <div>{{ acf.columnNr2 }}</div>
        </div>
    </div>
{% endif %}
