<div class="card-qr" id="card-qr" data-js-card-qr>       
    <h4 class="card-qr__title">{{ acf.heading }}</h4>

    <div class="card-qr__image-wrapper">
        <img class="card-qr__image" src="{{ asset('icon/card-qr/card-qr.svg') }}" alt="">
    </div>
</div>