.arrow-block {
  position: relative;
  background-color: $green-100;
  height: 2.625rem;
  width: 2.625rem;
  border-radius: 4px;
  cursor: pointer;

  &:before {
    position: absolute;
    border-style: solid;
    border-color: $green-400;
    border-width: 0 3px 3px 0;
    display: block;
    padding: 3px;
    top: calc(50% - 4px);
    left: calc(50% - 6px);
    transition: transform ease-in-out .4s;
    content: '';
  }

  &--right:before {
    transform: rotate(-45deg);
  }
}
