{% extends "base.twig" %}

{% block container %}
    <div class="container">
        {% include 'pages/donation/donation/donation.twig' with {acf : post.meta('donation')} %}
    </div>
{% endblock %}
