{% if not acf.isDisabled %}
    <div class="pilot-content-with-photo">
        <div class="container">

            <div class="pilot-content-with-photo__body {{ acf.settings }}">

                <div class="mb-48 mb-lg-0 pilot-content-with-photo__image-wrapper  {{ acf.settings }}">

                    <div class="d-lg-none">
                        {% include 'shared/webp/webp.twig' with {
                            image: acf.imageMobile,
                            class: 'pilot-content-with-photo__image'
                        } %}
                    </div>
                    <div class="d-none d-lg-block">
                        {% include 'shared/webp/webp.twig' with {
                            image: acf.imageDesktop,
                            class: 'pilot-content-with-photo__image'
                        } %}
                    </div>
                </div>

                <div class="pilot-content-with-photo__content-wrapper">
                    <div class="mb-12 mb-lg-24 heading-xl">{{ acf.header }}</div>
                    <div class="wysiwyg wow fadeIn" data-wow-delay=".3s">{{ acf.content }}</div>
                </div>

            </div>

        </div>
    </div>
{% endif %}
