<div style="font-family: Tahoma, sans-serif; color: #2F2641;">
    Dziękujemy za Twoją wiadomość - zawsze staramy się odpowiadać w mgnieniu oka.
    <br>
    Nasi doradcy w biurze Obsługi Klienta dostępni są od poniedziałku do piątku w godz. 9.00-17.00. </p> </br>

    <p> Pozdrawiamy </p>
    <p> Zespół PayEye </p>
</div>

<table style="width: 440px; font-family: Tahoma, sans-serif; color: #2F2641; font-size: 11px; line-height: 15px; font-weight: normal; border-collapse: collapse; background: #fff;">
    <tr>
        <td>
            <table>
                <tr>
                    <td style="padding: 0; width: 100px; vertical-align: top;">
                        <img src="https://payeye.com/img/stopka/payeye_logo_100.png" alt="Payeye mark" style="width: 100px; height: 100px; border: 0"/>
                    </td>
                    <td style="padding: 0 10px 0 15px;">
                        <table style="border-spacing: 0;">
                            <tr>
                                <td style="padding: 1px 0 10px 0;">
                                    <p style="font-family: Verdana, Arial, Tahoma, sans-serif; font-weight: bold; font-size: 15px; line-height: 17px; margin: 0;">
                                        Contact Center
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 1px 0 1px 0; text-decoration: none; color: #272345">
                                    <p style="font-family: Verdana, Arial, Tahoma, sans-serif; font-size: 11px; line-height: 17px; margin: 0;">

                                        <a href="mailto:kontakt@payeye.com" target="_blank" style="text-decoration: none; color: #272345;white-space: nowrap;">
                                            kontakt@payeye.com
                                        </a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 1px 0 1px 0;">
                                    <a href="https://payeye.com"
                                       style="text-decoration: none; color: #272345;font-family: Tahoma, sans-serif; font-size: 11px; line-height: 15px; margin: 0;">
                                        https://payeye.com
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 8px 0 1px 0;">
                                    <a href="https://payeye.com/" title="Odwiedź nas">
                                        <img src="https://payeye.com/img/stopka/payeye_90.png" alt="Payeye logo" style="width: 90px; height: 30px; border: 0;"/>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td style="padding: 1px 0 1px 0; text-decoration: none; color: #272345">
            <p style="font-family: Tahoma, sans-serif; font-size: 12px; line-height: 15px; margin: 0; color: #bbb">
                PayEye Sp. z o.o. ul.
                Zwycięska 43, 53-033 Wrocław, KRS 0000773560, NIP 8943138845, REGON 382724489;
                kapitał zakładowy 141 850,00 PLN Sąd Rejonowy dla Wrocławia-Fabrycznej we
                Wrocławiu, VI Wydział Gospodarczy KRS. Niniejsza wiadomość jest przeznaczona
                wyłącznie dla wskazanego w niej odbiorcy i może zawierać informacje poufne.
                Jeśli nie są Państwo adresatem tej informacji prosimy o niezwłoczne
                poinformowanie o tym fakcie nadawcy: pocztą elektroniczną pod adresem: office@payeye.com lub telefonicznie pod nr 666 959 850 oraz
                usunięcie tej wiadomości z komputera. Dziękujemy. This e-mail message is
                confidential, intended only for the named recipient(s) above. If you have
                received this message in error, or are not the named recipient(s), please
                immediately notify the sender by e-mail at office@payeye.com or by telephone at 666 959 850 and delete
                this e-mail message from your computer. Thank
                you. Dane osobowe zawarte w korespondencji elektronicznej będą przetwarzane
                przez PayEye Sp. z o.o. w celu umożliwienia kontaktu mailowego oraz w celu
                podejmowania kontaktu z adresatami, dokumentowania ustaleń dokonanych z
                Klientami, kontrahentami i innymi podmiotami, a także w celu przyjmowania pism,
                zgłoszeń i wniosków w formie elektronicznej oraz w celach związanych z
                dochodzeniem roszczeń lub obroną przed roszczeniami na podstawie prawnie
                uzasadnionego interesu administratora. Zawarcie w wiadomości zapytania o
                informacje handlowe stanowią zgodę na przesłanie informacji handlowych drogą
                elektroniczną na podany przez nadawcę adres e-mail. Wyrażoną zgodę możesz
                cofnąć w każdym czasie bez podawania przyczyn, lecz bez wpływu na zgodność z
                prawem przetwarzania przed jej cofnięciem. Przysługują Ci prawa dostępu do
                Twoich danych osobowych wynikające z RODO oraz ich zmiany (w tym aktualizacji),
                a także pozostałe prawa opisane w Polityce Prywatności, której treść dostępna
                jest na stronie internetowej pod adresem https://payeye.com/polityka-prywatnosci/.
            </p>
        </td>
    </tr>
    <tr>
</table>
